<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Instance of {{ instance.work.work_name }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<!-- Script is inserted in body to avoid FOUC warning in Firefox -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<header class="p-2 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start justify-content-lg-between">
            <a class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none" href="/instances">
                <span class="fs-4">GISST</span>
            </a>
            <div class="col-md-3 text-end">
                {% if user %}
                    Logged in as: {{ user.email }}
                {% else %}
                    <a class="btn btn-outline-primary me-2" href="/login" >Login</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <h1>{{ instance.work.work_name }} Instance Information</h1>
        <div class="row">
            <p class="col-4">
                Version: {{ instance.work.work_version }}
            </p>
            <p class="col-4">
                Platform: {{ instance.work.work_platform }}
            </p>
            <a class="btn btn-primary col-3" href="/play/{{ instance.info.instance_id }}" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
                    <path d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
                </svg>
                Fresh Boot
            </a>
        </div>
    </div>
    <div class="row">
        <h1>States</h1>
        <table class="table">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Boot</th>
            </tr>
            {% for state in instance.states %}
                <tr>
                    <td>{{ state.record.state_name}}</td>
                    <td>{{ state.record.state_description}}</td>
                    <td>
                        <a class="btn btn-primary" href="/play/{{ instance.info.instance_id }}" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
                                <path d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
                            </svg>
                            Boot into State
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="row">
        <h1>Replays</h1>
        <table class="table">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Boot</th>
            </tr>
            {% for replay in instance.replays %}
                <tr>
                    <td>{{ replay.record.replay_name}}</td>
                    <td>{{ replay.record.replay_description}}</td>
                    <td>
                        <a class="btn btn-primary" href="/play/{{ instance.info.instance_id }}" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
                                <path d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
                            </svg>
                            Boot into Replay
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
</body>
</html>